[Unit]
Description=Flush Zram to backing device on custom intervals.

[Service]
PrivateTmp=false
Type=exec
User=root
ExecStart=/usr/bin/zramWriteBack.rb -z%i
Restart=always

[Install]
WantedBy=local-fs.target
